### Data Mining with Weka (Week 3)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline
sns.set_style('dark')
sns.set(font_scale=1.2)

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.metrics import confusion_matrix, classification_report, mean_absolute_error, mean_squared_error,r2_score
from sklearn.metrics import plot_confusion_matrix, plot_precision_recall_curve, plot_roc_curve, accuracy_score
from sklearn.metrics import auc, f1_score, precision_score, recall_score, roc_auc_score


from pycaret.classification import *

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

np.random.seed(123)

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
iris = pd.read_csv("iris.csv")

In [3]:
iris

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
weather = pd.read_csv("weather.nominal.csv")

In [5]:
weather

     outlook temperature humidity  windy play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [6]:
vote  = pd.read_csv("vote.csv")

In [7]:
vote

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
0,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?,republican
2,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,republican
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,democrat
432,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y,republican
433,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y,republican
434,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n,republican

In [8]:
vote.replace(to_replace='?', value=np.nan, inplace=True)

In [9]:
vote

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
0,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN,republican
2,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,republican
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,democrat
432,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y,republican
433,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y,republican
434,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n,republican

In [10]:
exp_clf1= setup(data = vote, target = 'Class', session_id=123)

Setup Succesfully Completed!

In [11]:
nb = create_model('nb')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.9677  1.0000  0.9167  1.0000  0.9565  0.9310
1       0.9677  0.9254  0.9167  1.0000  0.9565  0.9310
2       0.9677  0.9715  1.0000  0.9231  0.9600  0.9330
3       0.9032  0.9693  0.8333  0.9091  0.8696  0.7929
4       0.9667  0.9737  1.0000  0.9167  0.9565  0.9296
5       0.9333  0.9522  0.9091  0.9091  0.9091  0.8565
6       0.9000  0.8947  0.9091  0.8333  0.8696  0.7887
7       0.9333  0.8935  0.9167  0.9167  0.9167  0.8611
8       0.9667  0.9699  1.0000  0.9231  0.9600  0.9315
9       0.9000  0.9167  1.0000  0.8000  0.8889  0.8000
Mean    0.9406  0.9467  0.9402  0.9131  0.9243  0.8755
SD      0.0289  0.0348  0.0541  0.0587  0.0363  0.0601

In [12]:
cancer = pd.read_csv("breastcancer.csv")

In [13]:
cancer

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,40-49,premeno,15-19,0-2,yes,3,right,left_up,no,recurrence-events
1,50-59,ge40,15-19,0-2,no,1,right,central,no,no-recurrence-events
2,50-59,ge40,35-39,0-2,no,2,left,left_low,no,recurrence-events
3,40-49,premeno,35-39,0-2,yes,3,right,left_low,yes,no-recurrence-events
4,40-49,premeno,30-34,3-5,yes,2,left,right_up,no,recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,50-59,ge40,30-34,6-8,yes,2,left,left_low,no,no-recurrence-events
282,50-59,premeno,25-29,3-5,yes,2,left,left_low,yes,no-recurrence-events
283,30-39,premeno,30-34,6-8,yes,2,right,right_up,no,no-recurrence-events
284,50-59,premeno,15-19,0-2,no,2,right,left_low,no,no-recurrence-events
285,50-59,ge40,40-44,0-2,no,3,left,right_up,no,no-recurrence-events

In [14]:
cancer['age'].value_counts()

50-59    96
40-49    90
60-69    57
30-39    36
70-79     6
20-29     1
Name: age, dtype: int64

In [15]:
exp_clf2= setup(data = cancer, target = 'Class', session_id=123)

Setup Succesfully Completed!

In [16]:
knn = create_model('knn')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.7500  0.4667  0.0000  0.0000  0.0000  0.0000
1       0.6500  0.5298  0.1667  0.3333  0.2222  0.0278
2       0.6500  0.6845  0.1667  0.3333  0.2222  0.0278
3       0.8500  0.7619  0.5000  1.0000  0.6667  0.5833
4       0.6500  0.5119  0.1667  0.3333  0.2222  0.0278
5       0.7500  0.6012  0.5000  0.6000  0.5455  0.3750
6       0.7500  0.6905  0.5000  0.6000  0.5455  0.3750
7       0.7500  0.7440  0.3333  0.6667  0.4444  0.3056
8       0.7500  0.7619  0.3333  0.6667  0.4444  0.3056
9       0.8000  0.7202  0.3333  1.0000  0.5000  0.4118
Mean    0.7350  0.6473  0.3000  0.5533  0.3813  0.2440
SD      0.0634  0.1054  0.1633  0.2967  0.1946  0.1962